html {
	background-color: #F5F5F5;	
}

#chat {
	margin-left: auto;
	margin-right: auto;
	width: 910px;
	z-index: 1;
	font-size: 2em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#prompt {
	display:none;
	border: 1px solid black;
	padding: 10px;
	background: #F5F5F5;
	border-radius: 1em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	position: absolute;
	width: 215px;
}

#transcript {
	position: absolute;
	height: 615px;
	width: 700px;
	margin-right: 10px;
	border: 1px solid black;
	border-radius: .5em;
	padding: 5px;
	overflow : auto;
	float: left;
	background-color: #FFFFFF;
	left: 50px;
	top: 50px;
}

#userlist {
	position: absolute;
	height: 615px;
	width: 100px;
	border: 1px solid black;
	border-radius: .5em;
	padding: 5px;
	padding-top:0px;
	overflow : auto;
	background-color: #FFFFFF;
	right: 50px;
	top: 50px;
}

#message {
	height: 30px;
	width: 500px;
	border: 1px solid black;
	border-radius: .5em;
	padding: 5px;
	position:absolute;
	left: 50px;
}

#progressbar {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 75%;
}

.me {
	font-weight: bold;
	color: red;
}

.other {
	font-weight: bold;
	color: blue;
}

.rec_message {
	border-bottom: 1px solid #9f9f9f;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
}

.rec_message:hover {
	background-color: #CCC;
}
