#chat {
	margin: .5%;
	z-index: 1;
	font-size: 2em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#prompt {
	display:none;
	border: 1px solid black;
	padding: 10px;
	background: gray;
}

#transcript {
	padding: .5%;
	height: 80%;
	border: 1px solid black;
	overflow : scroll;
	float: left;
	min-width: 87%;
}

#userlist {
	padding: .5%;
	height: 80%;
	width: 10%;
	min-width: 150px;
	border: 1px solid black;
	overflow : scroll;
	float: left;
}

#message {
	margin-top: 30px;
	padding: .5%;
	height: 30px;
	width: 100%;
	border: 1px solid black;
}

#progressbar {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 75%;
}

.me {
	font-weight: bold;
	color: red;
}

.other {
	font-weight: bold;
	color: blue;
}

.rec_message {
	border-bottom: 1px solid #9f9f9f;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
}